.login_contenedor{
  margin-top: 100px;
  min-height: 90vh;
}
.login_login_contenedor{
  width: 70%;
  display: flex;
  flex-direction: row;
  border: 1px solid blueviolet;
  border-radius: 10px;
  overflow: hidden;
}
.login{
  opacity: 0.4;
}
.login:hover{
  background-color: rgba(34, 83, 158, 0.596);
  opacity: 1;
}


@media (max-width:800px) {
  .login_login_contenedor{
    width: 80%;
  }
}
@media (max-width:480px) {
  .login_login_contenedor{
    width: 98%;
  }
}