.login_contenedor{
  margin-top: 100px;
  min-height: 90vh;
}
.login_login_contenedor{
  width: 70%;
  display: flex;
  flex-direction: row;
  border: 1px solid blueviolet;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px 4px;
}
.login{
  opacity: 0.4;
  transition: 0.35s all ease-in-out;
}
.login:hover{
  background-image:url('https://i.pinimg.com/736x/13/a6/53/13a653e9c0ec6e38a7e51ea4e4c8add9.jpg');
  background-size: contain;
  background-repeat: repeat;
  opacity: 1;
  h2{
    color: gold;
    text-shadow: 2px 3px 5px red;
    font-weight: bold;
  }

}
.mensaje{
  background-color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
.mostrar{
  display: unset;
}
.msjTrue{
  color: green;
}
.msjFalse{
  color: red;
}





@media (max-width:800px) {
  .login_login_contenedor{
    width: 80%;
  }
}
@media (max-width:480px) {
  .login_login_contenedor{
    width: 98%;
  }
}